@import "base";
/*
 * Content Fields
 */
.node {
  .content-field {
    @include node-text-mixin();

    border-bottom: $borderLightUnderline;
    border-left: $borderTransparent;
    color: $nodeCopyColor;
    transition: all 300ms ease;
  }


  /*
   * VAL FIELD
   */

  span.val-field {
    min-width: $valFieldMinWidth;
    max-width: $valFieldMaxWidth;
  }
  span.val-field:focus {
  }

  /*
   * Label Field
   */

  /*
   * index field
   */

  /*
   * Key Field
   */
  span.content-field.key-field {
    min-width: $keyFieldMinWidth;
    max-width: $keyFieldMaxWidth;

    text-overflow: ellipsis; // "…";
    overflow: hidden;
    white-space: nowrap;
  }
  span.content-field.key-field:focus {
    max-width: 1000px;
    transition: all 300ms ease;
  }
  /*
   * Key Fixed Field
   */
  span.content-field.key-field.key-field-fixed {
    color: $rootNodeKeyColor;
    border-bottom: $borderTransparent;
    font-weight: 600;
    min-width: $keyFieldMaxWidth / 1.8;
    max-width: $keyFieldMaxWidth / 1.5;
    margin-right: 10px;
  }
}
.node.active > span.content-field.key-field.key-field-fixed {
  color: $rootNodeKeyColor;
  border-bottom: $borderLightUnderline;
}

.node.active > .content-field {
  border-bottom: $borderUnderline;
  color: $nodeActiveCopyColor;
}

.node.active > .content-field.idx-field {
  transition-property: color;
  color: $nodeIdxActiveCopyColor;
  border-bottom: $borderTransparent;
}
.content-field:empty:before {
  content: "\2026"; // ellipsis
  content: "\0020"; // interpunct
}
.node.active > .content-field:empty:before {
  display: none;
}
