@import "base";
@import "title_field";
@import "val_field";
@import "key_field";

// Content Fields

.content-field {
  @include node_text();
  display: inline-block;
  border-bottom: $borderLightUnderline;
  border-left: $borderTransparent;
  color: $nodeCopyColor;
  transition: all 300ms ease;
}
// `standalone` vs `embedded-in-text`
//    - standalone means there's no padding before and after
//    the content-field.
//    - embedded-in-text is for when we actually want the content
//    field to exist in line with other normal copy
//    This is the case in [KEYFIELD]: [VALFIELD] situations
//    as well as in the "Done! Completed at [TIMEFIELD]"
.content-field.standalone {
  padding-left: 0px;
  padding-right: 0px;
}
.content-field.embedded-in-text {
  padding-left: $content_field_padding_width;
  padding-right: $content_field_padding_width;
}

.active > .content-field {
  border-bottom: $borderUnderline;
  color: $nodeActiveCopyColor;
}

.content-field:empty:before {
  content: "\2026"; // ellipsis
  content: "\0020"; // interpunct
}

.active > .content-field:empty:before {
  display: none;
}
