@import "app_base";

@mixin node-text() {
  height: $lineheight;
  vertical-align: bottom;
  display: inline-block;
}

.node:hover, .node.active {
  > span.node-detail {
    visibility: visible;
  }

  > .detail-debug {
    visibility: visible;
  }
}

// Only darken on ACTIVE, not on hover.
.node.active {
  > .node-text, > .node-detail {
    color: $nodeActiveDetailCopyColor;
  }
  &.invalid > .node-detail.node-icon i.icon-element {
    color: $errorActiveRed;
  }
  &.invalid > .node-invalid-reason {
    color: $errorActiveRed;
  }
}

.node-text, .node-detail {
  @include node-text;
  color: $nodeDetailCopyColor;
}

.node-invalid-reason {
  @include node-text;
  // display: none;
  color: $errorRed;
}
.node.active > .node-invalid-reason {
  display: inline-block;
  color: $errorActiveRed;
}

span.node-detail  {
  @include node-text;
  font-style: italic;
  visibility: hidden;
  position: relative;
}

span.node-detail.node-icon {
  $nodeIconSize: 14px;
  width: 10px;
  font-size: $nodeIconSize;
  position: relative;
  top: ($nodeCopyFontSize - $nodeIconSize);

  i.icon {
    height: 10px;
    top: 0%;
    position: absolute;
    left: 0px ;// -12px;
  }
}

.node.invalid > .node-detail.node-icon i.icon-element {
  @include warning-icon;
  color: $errorRed;
  visibility: visible !important;
}

.node-type.node-detail {
  position: absolute;
  right: 10px;
}

.detail-debug {
  @include node-text;
  visibility: hidden;

  float: right;

  color: $nodeDetailCopyColor;

}



.debug-glyphs {
  float: right;
  i {
    font-style: normal;
    position: relative;
    width: 15px;
    display: inline-block;
    &:after {
      position: absolute;
      font-size: 70%;
    }
  }
}

.debug-glyphs i.template-strings-disabled:after {
  content: "$!\" ";
}
.debug-glyphs i.template-changed:after {
  content: "$Î” ";
}

.debug-glyphs i.not-initialized:after {
  content: "@i ";
}

.debug-glyphs i.type-locked:after {
  content: "@L ";
}

.debug-glyphs i.invalid:after {
  content: "@! ";
  color: $errorRed;
}
