@import "app_base";

@mixin node-text() {
  height: $lineheight;
  vertical-align: bottom;
  display: inline-block;
}

.node:hover, .node.active {
  > span.node-detail {
    visibility: visible;
  }

  > .detail-debug {
    visibility: visible;
  }
}

.node-text {
  @include node-text;
}

.node.invalid > .node-invalid-reason {
  display: inline-block;
  position: relative;
  height: $lineheight;
  vertical-align: bottom;

  color: $errorRed;
}

span.node-detail  {
  @include node-text;
  font-style: italic;
  visibility: hidden;
  position: relative;
}

span.node-detail.node-icon {
  $nodeIconSize: 14px;
  width: 10px;
  font-size: $nodeIconSize;
  position: relative;
  top: ($nodeCopyFontSize - $nodeIconSize);

  i.icon {
    height: 10px;
    top: 0%;
    position: absolute;
    left: 0px ;// -12px;
  }
}
.node.invalid > .node-detail.node-icon i.icon-element {
  @include warning-icon;
  color: $errorRed !important;
  visibility: visible !important;
}

.detail-debug {
  @include node-text;
  visibility: hidden;

  float: right;

  color: $grayLighter;
}


.debug-glyphs {
  float: right;
  i {
    font-style: normal;
    position: relative;
    width: 5px;
    display: inline-block;
    &:after {
      position: absolute;
      font-size: 70%;
    }
  }
}

.debug-glyphs i.template-changed:after {
  content: "@";
}

.debug-glyphs i.not-initialized:after {
  content: "&";
}

.debug-glyphs i.type-locked:after {
  content: "#";
}

.debug-glyphs i.invalid:after {
  content: "!";
  color: $errorRed;
}
