.humon-editor {
  padding: $nodeEditorPadding;
  border: $nodeEditorBorder;
}

.humon-editor.humon-editor-inline {
  padding: 3px 3px;
  border: none;
  padding: 0px;
}

.humon-field {
  display: inline;
}
