@import "base";
@import "humon/bootstrap_node_defaults";

.node {
  display: block;
  font-family: "Source Sans Pro";
  font-weight: 500;
  // font-size: $nodeCopyFontSize;
  cursor: text;
  color: $copygray;
  position: relative;
  padding-left: $node_white_indent_width;
  border-left: $nodeBorderLeft;
  transition: all 300ms ease;
}

// HUMON-INLINE (when `inline` is set to true)
//    - used by DisplayField
.node.inline {
  display: inline-block;
  padding-left: 0;
  border: 0;
  border-bottom: none;
  &.active {
    padding-left: 0;
    border-left: 0;
  }
}

// ==
// Suppress gap
.node:not(.node-collection):last-of-type {
  padding-bottom: 5px;
}

.node.node-collection:hover { }
.node:before {
  font-weight: 200;
  transition: all 300ms ease;
}

.node.node-collection.suppress-gap {
  padding-bottom: 0px;// transparent solid;
  margin-bottom: 0px;// transparent solid;
  margin-top: 0px;// transparent solid;
}


// ===
// Active node styling
.node.active {
  border-left: $nodeActiveBorderLeft;
  transition: all 300ms ease;
}

/*
 * Active child styling
 */
.node.activeChild {
  &:before {
    content: "\21B5";
    content: "\2022";
    color: $childNodeGlyphColor;

    display: inline-block;
    position: absolute;
    left: $childNodeGlyphLeftOffset;

    width: $childNodeGlyphWidth;
  }
}

// ==
// Generic helper class, should
.node .copy {
  @include node_text_inline_mx();
  color: $nodeDetailCopyColor;
}

.little {
  font-size: 50%;
}

.node .copy-item {
  padding-left: 3px;
  padding-right: 3px;
}

.node-indent {
  padding-left: $node_white_indent_width;
}

@import "humon/debug";
@import "humon/detail";
@import "humon/content_field";
@import "humon/editor";
@import "humon/types/text";
@import "humon/types/goals";
