@import "base";
@import "humon/node_base";

.node {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: $nodeCopyFontSize;
  cursor: text;
  color: $copygray;
  position: relative;
  padding-left: $nodeWhiteIndent;
  border: 0px transparent solid;
  border-left: $nodeBorderLeft;
  transition: all 300ms ease;
}

.node.node-literal { }
.node.node-literal:hover { }
.node.node-collection {
  padding-bottom: 5px;
}
.node.node-collection:hover { }
.node:before {
  font-weight: 200;
  transition: all 300ms ease;
}
.node.node-collection.suppress-gap {
  padding-bottom: 0px;// transparent solid;
  margin-bottom: 0px;// transparent solid;
  margin-top: 0px;// transparent solid;
}


/*
 * Active node styling
 */
.node.active {
}
/* Active node indicator */
.node.active:before {
  transition: all 300ms ease;
  content: "\00BB"; //»
  position: absolute;
  left: 0;
  font-size: 22px;
  font-weight: 700;
  vertical-align: bottom;
  height: 22px;
  // need to shift up because font-size is nonstandard;
  top: -5px;
  display: inline-block;
}

.node.active > .node {
  border-left: $nodeActiveBorderLeft;
  transition: all 300ms ease;
}
/*
 * Active child styling
 */
.node.activeChild {
  &:before {
    content: "\21B5";
    content: "\2022";
    color: $childNodeGlyphColor;

    display: inline-block;
    position: absolute;
    left: $childNodeGlyphLeftOffset;

    width: $childNodeGlyphWidth;
  }
}

@import "humon/debug";
@import "humon/detail";
@import "humon/content_field";
@import "humon/editor";
