@import "base";

.node {

  span.key-field {
    min-width: $keyFieldMinWidth;
    max-width: $keyFieldMaxWidth;

    text-overflow: ellipsis; // "…";
    overflow: hidden;
    white-space: nowrap;
  }
  span.key-field:focus {
    max-width: 1000px;
    transition: all 300ms ease;
  }
  span.key-field.key-field-fixed {
    border-bottom: $borderTransparent;
  }

}

.node.active > span.key-field.key-field-fixed {
  border-bottom: $borderTransparent;
}

.node.active > .idx-field {
  transition-property: color;
  color: $nodeIdxActiveCopyColor;
  border-bottom: $borderTransparent;
}
