@import "base";

.node .content-field.title-field {
  border-bottom: $borderTransparent;
  font-weight: 600;
  font-size: $hecTitleFontSize;
  max-width: none;
  padding: 0px;
}

.node.active > .content-field.title-field {
  border-bottom: $borderTransparent;
}
