@import "base";
.node span.content-field.title-field {
  color: $hecTitleKeyColor;
  border-bottom: $borderTransparent;
  font-weight: 600;
  font-size: $hecTitleFontSize;
  max-width: none;

}
.node.active > span.content-field.title-field {
  color: $hecTitleKeyColor;
}
