@import "base";

.goals .header {
  border-left: $nodeBorderLeft;
  padding-left: $node_white_indent_width;
  box-shadow: none !important;
  outline: none !important;
  &:focus {
    border-left: $nodeActiveBorderLeft;
    transition: all 300ms ease;
    color: $nodeActiveCopyColor;
  }
  transition: all 300ms ease;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.goals .header .goal-button {
  visibility: hidden;
  margin-left: 3px;
  font-size: 12px;
  padding: 3px 6px;
}
// By default, hide the goal-button
.goals h3:focus .goal-button, .goals h3:hover .goal-button {
  visibility: visible;
}

.goal {
  @include node_structure(1.5);

  .completed-at {
    margin-left: $f_total_node_text_offset_width;
    @include node_text(0.8);
    // Override the inline-block display from node_text
    display: block;
  }

  .text {
    .val-text-field {
      max-width: 750px;
    }
  }
  padding-left: $f_total_node_text_offset_width - 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: $borderLightest1Underline;
}
