@import "base";

.goals h3.line-item-selectable {
  border-left: $nodeBorderLeft;
  padding-left: 5px;
  box-shadow: none !important;
  outline: none !important;
  &:focus {
    border-left: $nodeActiveBorderLeft;
    transition: all 300ms ease;
  }
  transition: all 300ms ease;

}
.goals h3 .goal-button {
  visibility: hidden;
  margin-left: 3px;
  font-size: 12px;
  padding: 3px 6px;
}

.goals h3:focus .goal-button, .goals h3:hover .goal-button {
  visibility: visible;
}

.node.goals {
  @include node_large_mx();
}

.goal {
  @include node_large_mx();
  .active {
    .content-field {
      color: $nodeActiveCopyColor;
    }

    .copy  {
      color: $nodeActiveDetailCopyColor;
    }
  }

  .completed-at {
    margin-left: $f_total_node_text_offset_width;
    @include node_text_inline_mx(1.0);
    .content-field, .copy, {
      @include node_text_inline_mx(1.0);
    }

  }

  // Text child
  .node.text {
    &.active:before {
      display: none;
    }
    .val-text-field {
      max-width: auto;
    }
  }



  .content-field {
  }
  .val-field {
  }
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: $borderLightest1Underline;

  .n-goal-push-right {
    display: inline-block;
  }
}
