.node.goals {
  @include node_large_mx();
}

.node.goal {
  @include node_large_mx();
  &.active {
  }

  // Text child
  .node.text {
    @include node_large_mx();
    &.active:before {
      display: none;
    }
    // padding-left: 0px;

    .val-text-field {
    }
  }



  .content-field {
    // font-size: 150%;
  }
  .val-field {

  }
  padding: 5px 0;
  border-radius: 3px;

  .n-goal-push-right {
    display: inline-block;
  }
}
