.node.text {

  /*
   * VAL TEXT FIELD
   */
  div.val-text-field {
    display: block;
    min-height: $lineheight;
    max-width: 400px;
  }
  .content-field {
    vertical-align: top;
  }
  .node-text-left {
    display: inline-block;
  }
}
