.node.text {
  span.key-field{
    // min-width: $keyFieldMaxWidth / 2;
  }

  /*
   * VAL TEXT FIELD
   */
  div.val-text-field {
    display: block;
    min-height: $lineheight;
    max-width: $valTextFieldMaxWidth;
    text-align: justify;
  }
  .content-field {
    vertical-align: top;
  }

  .n-text-push-right {
    display: inline-block;
  }
}
