{{!  _humon_node_debug.hbs }}

<span class="node-debug">
  <dl>
    <dt>  view.templateName </dt>
    <dd>{{view.templateName}}</dd>
    <dt>  view.nodeContent.nodeType </dt>
    <dd>{{view.nodeContent.nodeType}}</dd>
    <dt>  view.id </dt>
    <dd>{{view._id}}</dd>
  </dl>
</span>
<span class="node-detail class-name">
  {{view.nodeContent.nodeType}}
</span>
