<h2>Recent SherwinActions</h2>

<div class="span12">

    {{#each action in arrangedContent}}
      {{#with action}}
        inside with
        {{description}}
      {{view  Sysys.ActionView contentBinding="action"}}
      {{/with}}
    {{/each}}
</div>

<p>Your content here.</p>


