<h2>Recent SherwinActions</h2>

<div class="span12">

    {{#each act in arrangedContent}}
      {{#with act }}
        {{view  Sysys.ActView contentBinding="act"}}
      {{/with}}
    {{/each}}
</div>
{{outlet act}}
{{!view Sysys.NotificationsView contentBinding="notifications"}}

<p>Your content here.</p>
{{outlet zorger}}
