<div class="container">


<h1> JSON Admin </h1>
<ul class="nav nav-pills">
  <li class="active"> {{#linkTo acts}} Dashboard {{/linkTo}}</li>
  <li> {{#linkTo acts.new}} Track {{/linkTo}}</li>
  <li> {{#linkTo acts}} Recent {{/linkTo}}</li>
</ul>


  <div class="row">
    <div class="col-xs-8">
      {{outlet}}
    </div>
  </div>
</div>
