<h1> JSON Admin </h1>
<div class="navbar">
<div class="navbar-inner">
<ul class="nav">
  <li> {{#linkTo acts.new}} Track {{/linkTo}}</li>
  <li> {{#linkTo acts}} Recent {{/linkTo}}</li>
</ul>
</div>
</div>
ZUGGGGGGG
<hr> Humon Editor Component
{{humon-editor initialJson=view.json jsonChanged="jsonChanged" downPressed="downPressed" upPressed="upPressed"}}
<hr>
  BUGGGGGGGGGG
  Test View:
{{view Sysys.TestView}}
</hr>
  {{outlet}}
