<h1> DataPoint </h1>
{{humon-editor json=submittedAt rootKey="Time" downPressed="downPressed" upPressed="upPressed"}}
{{humon-editor json=details rootKey="Details" downPressed="downPressed" upPressed="upPressed"}}
<button {{action "submitDataPoint"}}>
  Create data point
</button>
