<h1> DataPoint </h1>
{{humon-editor initialJson="now" jsonOut=submitted_at rootKey="Time"}}
{{humon-editor initialJson=initialJson json=details rootKey="Details"}}
<button {{action "submit"}}>
  Create data point
</button>
