<h1> DataPoint </h1>
{{humon-editor initialJson=submittedAt rootKey="Time" downPressed="downPressed" upPressed="upPressed"}}
{{humon-editor initialJson=details rootKey="Details" downPressed="downPressed" upPressed="upPressed"}}
<button {{action "submitDataPoint"}}>
  Create data point
</button>
