{{#if view.isEditing}}
  {{view Sysys.TextField valueBinding="view.rawValue" propagatesEvents=true class="zorger" initialValueBinding="view.value"}}
{{else}}
  {{#if view.value}}
    <span class="height of">
    {{view.value}}
  </span>
  {{else}}
    <span class="">empty</span>
  {{/if}}
{{/if}}
