{{#if view.isEditing}}
  {{view Sysys.TextField valueBinding="view.rawValue" propagatesEvents=false initialValueBinding="view.display"}}
{{else}}
  {{#if view.value}}
  <span >
    {{view.display}}
  </span>
  {{else}}
    <span class="">empty</span>
  {{/if}}
{{/if}}
