{{!
humon_node_date.hbs
}}
    {{view "Sysys.ValEditableField" rawValueBinding="view.templateStrings.asString" }}

    <span class="node-text">
    ({{ view.templateStrings.relative }})
    </span>

    <span class="node-detail node-icon">
      {{partial "humon_icon"}}
    </span>

    <span class="node-detail">
      {{view.templateStrings.verbose}}
    </span>
