{{!
humon_node_literal.hbs
}}
  {{partial humon_key_index_field}}

  {{view "Sysys.ValEditableField" rawValueBinding="view.templateStrings.asString" }}

  <span class="node-detail"></span>

  <span class="node-detail node-icon">
    {{partial humon_icon}}
  </span>
