{{#each activity in arrangedContent itemController="rtdpActivity"}}
<div>
  <span class="rtdp-activity">{{activity.name}}</span>
  :
  <span {{bind-attr style=activity.fillStyle}}>
    {{activity.durationString}}
  </span>
</div>
{{/each}}
