<div class="well">
  {{#link-to "spDay" this}} Perma link {{/link-to}}
  {{#link-to "spDay" tomorrow}} Tomorrow {{/link-to}}
  {{#link-to "spDay" yesterday}} Yesterday {{/link-to}}
date: {{date}} <br>
note: {{note}} <br>
<br>
{{humon-editor json=sleep rootKey="sleep"}}
</div>
