@import "bootstrap";
@import "jquery.ui.datepicker";
@import "jquery.ui.slider";
@import "font-awesome";

@import "base";
@import "nav";

@import "humon/humon";

@import "data_point";
@import "rescue_time_dp";
@import "sp_day";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700);
.caption {
  font-weight: bold;
}

.dirty {
  border: red 1px dashed;
}

body {
  font-family: "Source Sans Pro";
}
