$copygray: #666666;
$grayDark: darken($copygray, 15%);
$grayDarker: darken($copygray, 30%);
$grayDarkest: darken($copygray, 40%);
$grayDarkest1: darken($copygray, 50%);
$grayDarkest2: darken($copygray, 60%);
$grayLight: lighten($copygray, 15%);
$grayLighter: lighten($copygray, 28%);
$grayLightest: lighten($copygray, 35%);
$grayLightest1: lighten($copygray, 42%);

$activeColor: rgb(72, 137, 255);
$activeColorDark: darken($activeColor, 30%);
$activeColorLight: lighten($activeColor, 30%);

$glyphcolor: darken($grayLightest, 5%);
$glyphsize: 14px;
$lineheight: 20px;

$nodeWhiteIndent: 15px;
$nodeLeftBorder: 4px;
$fieldWhiteIndent: 15px;

$errorActiveRed: rgba(210, 40, 40, 1);
$errorRed: rgba(180, 80, 80, 1);

@mixin imp {
  border: 1px solid red;
}

@mixin nimp {
  border: 1px solid transparent;
}

$lineheight: 20px;
$nodeCopyFontSize: 16px;

$contentFieldMinWidth: 10px;
$contentFieldMaxWidth: 640px;

$keyFieldMinWidth: $contentFieldMinWidth;
$keyFieldMaxWidth: 120px;

$valFieldMinWidth: $contentFieldMinWidth;
$valFieldMaxWidth: $contentFieldMaxWidth;

$idxFieldMinWidth: 5px;
$idxFieldMaxWidth: 12px;

$borderUnderline: 1px solid $grayLight;
$borderLightUnderline: 1px dotted $grayLightest;

$nodeBorderLeftWidth: 4px;
$nodeBorderLeft: $nodeBorderLeftWidth transparent solid;
// $nodeActiveBorderLeft: $nodeLeftBorder $activeColorLight solid;
$nodeActiveBorderLeft: $nodeBorderLeftWidth lighten($grayLightest1, 6%) solid;

$borderTransparent: 1px solid transparent;

$nodeWhiteIndent: 15px;
$childNodeGlyphWidth: 8px;
$childNodeGlyphLeftOffset: $nodeWhiteIndent - $childNodeGlyphWidth - 2px;
$childNodeGlyphColor: $grayLightest1;

$nodeCopyColor: $copygray;
$nodeActiveCopyColor: $grayDarkest1;
$nodeDetailCopyColor: $grayLighter;
$nodeActiveDetailCopyColor: $copygray;

$nodeIdxCopyColor: lighten($nodeCopyColor, 15%);
$nodeIdxActiveCopyColor: lighten($nodeActiveCopyColor, 15%);

$nodeEditorBorder: 1px solid $grayLighter;
$nodeEditorPadding: 15px 3px;

$rootNodeKeyColor: darken($nodeCopyColor, 15%);

@mixin warning-icon {
  &:before {
  content: "\f071" !important;
  }
}
