@import "lib";

$copygray: #666666;
$grayDark: darken($copygray, 15%);
$grayDarker: darken($copygray, 30%);
$grayDarkest: darken($copygray, 40%);
$grayDarkest1: darken($copygray, 50%);
$grayDarkest2: darken($copygray, 60%);
$grayLight: lighten($copygray, 15%);
$grayLighter: lighten($copygray, 28%);
$grayLightest: lighten($copygray, 35%);
$grayLightest1: lighten($copygray, 42%);

$activeColor: rgb(72, 137, 255);
$activeColorDark: darken($activeColor, 30%);
$activeColorLight: lighten($activeColor, 30%);

$glyphcolor: darken($grayLightest, 5%);
$glyphsize: 14px;
$lineheight: 20px;


$errorActiveRed: rgba(210, 40, 40, 1);
$errorRed: rgba(180, 80, 80, 1);

$cautionYellow: rgba(245, 150, 20, 1);
$cautionActiveYellow: rgba(195, 195, 20, 1);


@mixin imp {
  border: 1px solid red;
}

@mixin nimp {
  border: 1px solid transparent;
}

$lineheight: 20px;
$nodeCopyFontSize: 16px;

$content_field_padding_width: 3px;
$contentFieldMinWidth: 10px;
$contentFieldMaxWidth: 500px;

$keyFieldMinWidth: $contentFieldMinWidth;
$keyFieldMaxWidth: 120px;

$valFieldMinWidth: $contentFieldMinWidth;
$valFieldMaxWidth: $contentFieldMaxWidth;

$valTextFieldMinWidth: $contentFieldMinWidth;
$valTextFieldMaxWidth: $contentFieldMaxWidth;

$idxFieldMinWidth: 5px;
$idxFieldMaxWidth: 12px;

$borderUnderline: 1px solid $grayLight;
$borderLightUnderline: 1px dotted $grayLightest;
$borderLightest1Underline: 1px dotted $grayLightest1;

$node_border_left_width: 4px;
$node_white_indent_width: 15px;

$nodeBorderLeft: $node_border_left_width transparent solid;
$nodeActiveBorderLeft: $node_border_left_width lighten($grayLightest1, 6%) solid;

$borderTransparent: 1px solid transparent;
$f_total_node_text_offset_width: $content_field_padding_width + $node_border_left_width + $node_white_indent_width;

$childNodeGlyphWidth: 8px;
$childNodeGlyphLeftOffset: $node_white_indent_width - $childNodeGlyphWidth - 2px;
$childNodeGlyphColor: $grayLightest1;

$nodeCopyColor: $copygray;
$nodeActiveCopyColor: $grayDarkest1;
$nodeDetailCopyColor: $grayLighter;
$nodeActiveDetailCopyColor: $copygray;

$nodeIdxCopyColor: lighten($nodeCopyColor, 15%);
$nodeIdxActiveCopyColor: lighten($nodeActiveCopyColor, 15%);

$nodeEditorBorder: 1px solid $grayLighter;
$nodeEditorPadding: 15px 3px;

$hecTitleFontSize: $nodeCopyFontSize * 1.3;

@mixin text-center  {
  text-align: center;
}
@mixin block-center  {
  margin-left: auto;
  margin-right: auto;
}
@mixin col-center  {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

@mixin warning-icon {
  &:before {
  content: "\f071" !important;
  }
}

@mixin node_font_mx($factor: 1) {
  font-size: $nodeCopyFontSize * $factor;
}

// Difference between node_typography
// and node content field typography
//    - node content field typography locks in a height
@mixin node_typography($factor: 1) {
  @include node_font_mx($factor);
  line-height: $lineheight * $factor;
  vertical-align: top;
}

@mixin node_contentfield_typography($factor: 1) {
  @include node_typography($factor);
  height: $lineheight * $factor;
}

// Makes an element behave "node like"
@mixin node_structure($factor: 1) {
  @include node_typography($factor);
  .content-field, .copy  {
    @include node_contentfield_typography($factor);
  }
}
