$copygray: #555555;
$grayDark: darken($copygray, 15%);
$grayDarker: darken($copygray, 30%);
$grayLight: lighten($copygray, 15%);
$grayLighter: lighten($copygray, 30%);
$grayLightest: lighten($copygray, 45%);

$activeColor: rgb(72, 137, 255);
$activeColorDark: darken($activeColor, 30%);
$activeColorLight: lighten($activeColor, 30%);

$glyphcolor: darken($grayLightest, 5%);
$glyphsize: 14px;
$lineheight: 20px;

$nodeWhiteIndent: 15px;
$nodeLeftBorder: 4px;
$fieldWhiteIndent: 15px;

@mixin imp {
  border: 1px solid red;
}

@mixin nimp {
  border: 1px solid transparent;
}


/* NEW */
@font-face {
  font-family: "Source Sans";
  src: font-url('SourceSansPro-light.otf');
}

@font-face {
  font-family: "Source Sans bold";
  src: font-url('SourceSansPro-Bold.otf');
}

@font-face {
  font-family: "Source Sans semibold";
  src: url('SourceSansPro-Bold.otf');
}

@font-face {
  font-family: "Source Sans";
  src: url('SourceSansPro-Regular.otf');
}

@font-face {
  font-family: "Source Sans light";
  src: url('SourceSansPro-Light.otf');
}

/* @font-face {
 font-family: "Univers 45 Light";
 src: font-url('Univers45light.ttf');
}
@font-face {
font-family: "Univers 47 Light";
src: font-url('Univers47Light.ttf');
}
@font-face {
font-family: "Univers 67 Condensed Bold";
src: font-url('Univers67CondensedBold.ttf');
} */

$lineheight: 20px;

$contentFieldMinWidth: 10px;
$contentFieldMaxWidth: 1000px;

$keyFieldMinWidth: $contentFieldMinWidth;
$keyFieldMaxWidth: 200px;

$valFieldMinWidth: $contentFieldMinWidth;
$valFieldMaxWidth: $contentFieldMaxWidth;

$borderUnderline: 1px solid $grayLight;
$borderLightUnderline: 1px dotted $grayLightest;

$nodeActiveBorderLeft: $nodeLeftBorder $activeColorLight solid;
$nodeBorderLeft: $nodeLeftBorder transparent solid;

$borderTransparent: 1px solid transparent;

$nodeWhiteIndent: 15px;
$childNodeGlyphWidth: 8px;
$childNodeGlyphLeftOffset: $nodeWhiteIndent - $childNodeGlyphWidth - 2px;
