@import "app_base";
// $dataPointWidth: 700px;

.data-point {
  position: relative;
  // width: $dataPointWidth;
  // border: 1px solid $grayLightest1;
  // border-radius: 3px;
  // padding: 3px;
  // margin: 3px;

  span.options {
    position: relative;
    display: none;
    float: right;
    right: 5px;
    top: 5px;
  }
  &:hover span.options {
    position: relative;
    display: block;
    z-index: 100;
  }
  &.active span.options {
    position: relative;
    display: block;
    z-index: 100;
  }
}

.data-points {
  button.new-data-point {
    // @include button-size(5px, 5px, 16px, 18px,  3px);
    @include center-block();
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    margin-bottom: $padding-base-vertical;
  }
}
