$dataPointWidth: 500px;

.data-point {
  position: relative;
  width: $dataPointWidth;
  border: 1px solid $grayLightest1;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;

  span.options {
    display: none;
    float: right;
    // position: absolute;
    right: 5px;
    top: 5px;
  }
  &:hover span.options {
    display: block;
    z-index: 100;


  }
}
