.node-literal {
  border: none; // 1px red solid;
  // display:inline-block;
}

.node-collection {
  border: none; //1px blue solid;
  display: block;
  margin-left: 10px;
}
.node-collection.node-collection-flat {
  display: inline-block;
  margin-left: 0px;
}

textarea.content-field {
  height: 20px;
  width: 600px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 1px transparent solid;
}


textarea.content-field:focus {
  border: 1px white-smoke dashed;
  background: azure;
  box-shadow: none;
}

.node input.key {
  height: 20px;
  width: 50px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 1px transparent solid;
}

.node input.key:focus {
  border: 1px white-smoke dashed;
  box-shadow: none;
}

.node-item input.key {
  height: 20px;
  width: 50px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 1px transparent solid;
}

.node-item input.key:focus {
  border: 1px white-smoke dashed;
  box-shadow: none;
}

.kvp-item input.key {
  height: 20px;
  width: 50px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 1px transparent solid;
}

.kvp-item input.key:focus {
  border: 1px white-smoke dashed;
  background: azure;
  box-shadow: none;
}

// ACTIVS
.active.node-literal {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.node-collection-flat.active   .node-literal {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.active.kvp-item > input{
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

.active.node-item > input{
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

