.node-literal {
  border: none; // 1px red solid;
  display:inline-block;
}

.node-collection {
  border: none; //1px blue solid;
  display:block;
  margin-left: 10px;
}

textarea.content-field {
  height: 20px;
  width: 600px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 1px transparent solid;
}


textarea.content-field:focus {
  border: 1px white-smoke dashed;
  background: azure;
  box-shadow: none;
}

.kvp-item input.key {
  height: 20px;
  width: 50px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  border: 1px transparent solid;
}


.kvp-item input.key:focus {
  border: 1px white-smoke dashed;
  background: azure;
  box-shadow: none;
}
