span.blocky {
  display: inline-block;
  width: 100%;
  border: none;
}

.node {
  padding-left: 15px;
  margin-left: 8px;
  border: 1px transparent solid; 
  border-left: 4px white solid;
  background: white;
}
/*
 * Active node styling
 */
.node.active { }

.node.active > .blocky {
  background: rgba(0,0,255, 0.1);
}
.node.active > div > .node {
  border-left: 4px rgba(0,0,255, 0.1) solid;
}

.node.node-literal { }
.node.node-literal:hover { }

.node.node-collection { }
.node.node-collection:hover { }

/*
 * Content Fields
 */
textarea.content-field {
  height: 20px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
  resize: none;
  background: none;
}
textarea.content-field:focus {
  border: none;
  box-shadow: none;
}

textarea.content-field.val-field {
  width: 600px;
}
textarea.content-field.val-field:focus { }

textarea.content-field.idx-field {
  width: 10px;
}
textarea.content-field.idx-field:focus { }

textarea.content-field.key-field {
  width: 50px;
}
textarea.content-field.key-field:focus { }

textarea.content-field.proxy-field { }
