/*
 * This stylesheet is for the content-editable-fields branch
 * This sheet is included by `humon_node` at the bottom, overriding
 * the original styles.
 *
 * This will be merged in once the branch is complete
 */

@import "base";
.node {
  padding-left: $nodeWhiteIndent;
}

.key-field {
  @include imp;
  display: inline-block;
  min-width: 20px;
  max-width: 200px;
  height: 18px;
}

span.colon-glyph {
  @include imp;
  position: relative;
  vertical-align: top;
  left: 0px;
}

span.node-detail.node-icon {
  @include imp;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  width: 10px;
  i.icon {
    height: 10px;
    top: 0%;
    position: absolute;
  }
}
