@import "base";
@import "humon_node_base";

.humon-editor {
  padding: 15px;
  border: 1px solid $grayLighter;
}


span.blocky {
  display: inline-block;
  border: none;
}
body {
  font-family: "Source Sans";
}

.node {
  font-family: "Source Sans";
  font-size: $nodeCopyFontSize;
  cursor: text;
  color: $copygray;
  position: relative;
  padding-left: $nodeWhiteIndent;
  border: 0px transparent solid;
  border-left: $nodeBorderLeft;
  background: white;
}

.node.node-literal { }
.node.node-literal:hover { }
.node.node-collection {
  // see documentation on humonNodeView.suppressGap
  padding-bottom: 5px;
}
.node.node-collection:hover { }
/*
 * Active node styling
 */
.node.active {
}

.node.active > span.blocky {
  // background: $activeColorLight
}
.node.active > .node {
  border-left: $nodeActiveBorderLeft;
}
.node.active > span.blocky > .content-field {
  border-bottom: $borderUnderline;
  color: $nodeActiveCopyColor;
}

.node.active > span.blocky > .content-field.idx-field {
  transition-property: color;
  color: $nodeIdxActiveCopyColor;
  border-bottom: $borderTransparent;
}
.content-field:empty:before {
  content: "\2026"; // ellipsis
  content: "\0020"; // interpunct
}
.node.active > span.blocky> .content-field:empty:before {
  display: none;
}
.node.active > span.blocky> span.node-detail,
.node:hover > span.blocky > span.node-detail {
  visibility: visible;
}
span.node-detail {
  font-style: italic;
  visibility: hidden;
  position: relative;
  display: inline-block;
}
span.node-detail.node-icon {
  height: 10px;
  width: 10px;
  font-size: 10px;
  line-height: 10px;
  i.icon {
    height: 10px;
    top: 0%;
    position: absolute;
    left: 0px ;// -12px;
  }
}
/*
 * Active child styling
 */
// child node glyph
.node.activeChild > span.blocky > .content-field.label-field {
  &:before {
    content: "\21B5"; // carraige return
    color: $childNodeGlyphColor;

    display: inline-block;
    position: absolute;
    left: $childNodeGlyphLeftOffset;

    width: $childNodeGlyphWidth;
    @include rotate(90deg);

  }
}



/*
 * Content Fields
 */
.node {
  .content-field {
    border-bottom: $borderLightUnderline;
    border-left: $borderTransparent;
    color: $nodeCopyColor;
    transition: all 300ms ease;
  }
  div.content-field, span.content-field {
    height: $lineheight;
  }
  textarea.content-field {
    color: $copygray;
    height: $lineheight;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    resize: none;
    background: none;
    overflow: hidden;
    vertical-align: top;
  }
  textarea.content-field:focus {
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: none;
  }

  textarea.content-field {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  /*
   * VAL FIELD
   */

  textarea.content-field.val-field {
    min-width: 100px;
  }
  textarea.content-field.val-field:focus {
  }
  div.val-field {
    display: inline-block;
    min-width: $valFieldMinWidth;
    max-width: $valFieldMaxWidth;
  }

  span.val-field {
    display: inline-block;
    min-width: $valFieldMinWidth;
    max-width: $valFieldMaxWidth;
  }
  span.val-field:focus {
  }

  /*
   * Label Field
   */
  textarea.content-field.label-field {
    // padding-left: $fieldWhiteIndent;
  }
  /*
   * index field
  */
  textarea.content-field.idx-field {
    font-size: $nodeCopyFontSize;
    display: inline-block;
    color: $nodeIdxCopyColor;
    min-width: $idxFieldMinWidth;
    max-width: $idxFieldMaxWidth;
  }
  /*
   * Key Field
   */
  textarea.content-field.key-field {
    min-width: 25px;
    width: 100px;
    text-align: left;
    padding-right: $fieldWhiteIndent;
  }
  div.content-field.key-field {
    min-width: $keyFieldMinWidth;
    max-width: $keyFieldMaxWidth;
    height: $lineheight;
  }
  span.content-field.key-field {
    display: inline-block;
    min-width: $keyFieldMinWidth;
    max-width: $keyFieldMaxWidth;
    height: $lineheight;
  }
  .content-field.key-field:focus {
  }
}

/*********************
 * Glyphs
 ********************/
span.colon-glyph {
  position: relative;
  vertical-align: top;
  left: 0px;
  font-style: bolder;
}
/*
 * open glyph
 */
span.open-glyph:before {
  font-size: $glyphsize;
  color: $glyphcolor;
  position: absolute;
}
.node.active.node-hash > span.blocky > span.open-glyph:before{
  content: '{';
}
.node.active.node-list > span.blocky > span.open-glyph:before{
  content: '[';
}
/*
 * close glyph
 */
span.close-glyph {
  z-index: 1001;
}

span.close-glyph:after {
  font-size: $glyphsize;
  color: $glyphcolor;
  position: absolute;
  padding-left: 15px;
  bottom: -6px;
  z-index: 1001;
}
.node.active > span.close-glyph:after {
  border-left: $nodeLeftBorder $activeColorLight solid;
  border-left: $nodeLeftBorder $activeColorLight solid;
}
.node.active.node-hash > span.close-glyph:after{
  content: '}';
}
.node.active.node-list > span.close-glyph:after{
  content: ']';
}

// see hnv.suppressGap
.node.node-collection.suppress-gap {
  padding-bottom: 0px;// transparent solid;
  margin-bottom: 0px;// transparent solid;
  margin-top: 0px;// transparent solid;
}

