$copygray: #555555;
$grayDark: darken($copygray, 15%);
$grayDarker: darken($copygray, 30%);
$grayLight: lighten($copygray, 15%);
$grayLighter: lighten($copygray, 30%);
$grayLightest: lighten($copygray, 45%);

$activeColor: rgb(72, 137, 255);
$activeColorDark: darken($activeColor, 30%);
$activeColorLight: lighten($activeColor, 30%);

$glyphcolor: darken($grayLightest, 5%);
$glyphsize: 14px;
$lineheight: 20px;
@mixin imp {
  border: 1px solid red;
}

span.blocky {
  display: inline-block;
  width: 100%;
  border: none;
}

.node {
  color: $copygray;
  position: relative;
  padding-left: 15px;
  border: 1px transparent solid;
  border-left: 4px white solid;
  background: white;
}

.node.node-literal { }
.node.node-literal:hover { }
.node.node-collection {
  padding-bottom: 5px;
}
.node.node-collection:hover { }
/*
 * Active node styling
 */
.node.active {
}

.node.active > .blocky {
  background: $activeColorLight
}
.node.active > div > .node {
  border-left: 4px $activeColorLight solid;
}
.node.active > span.blocky > textarea.content-field.label-field {
  color: $activeColorDark;
  text-decoration: underline;
}

/*
 * Active child styling
 */
.node.activeChild > span.blocky > textarea.content-field.label-field {
  color: lighten($grayDark, 5%);
  text-decoration: underline;
}



/*
 * Content Fields
 */
textarea.content-field {
  color: $copygray;
  height: $lineheight;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
  resize: none;
  background: none;
  overflow: hidden;
}
textarea.content-field:focus {
  border: none;
  box-shadow: none;
}

textarea.content-field.label-field {
  float: left;
  width: auto;
}
textarea.content-field.val-field {
  float: left;
  width: auto;
}
textarea.content-field.val-field:focus { }


textarea.content-field.idx-field {
  width: 25px;
  padding-left: 15px;
  color: $grayLight;
}
textarea.content-field.idx-field:focus { }

textarea.content-field.key-field {
  padding-left: 15px;
  width: 200px;
}
textarea.content-field.key-field:focus { }

textarea.content-field.proxy-field {
  padding-left: 5px;
}

span.open-glyph:before {
  font-size: $glyphsize;
  color: $glyphcolor;
  position: absolute;
}
.node.active.node-hash > span.blocky > span.open-glyph:before{
  content: '{';
}
.node.active.node-list > span.blocky > span.open-glyph:before{
  content: '[';
}


span.close-glyph {
  z-index: 1001;
}

span.close-glyph:after {
  font-size: $glyphsize;
  color: $glyphcolor;
  position: absolute;
  padding-left: 15px;
  bottom: -6px;
  z-index: 1001;
}
.node.active > span.close-glyph:after {
  border-left: 4px $activeColorLight solid;
}
.node.active.node-hash > span.close-glyph:after{
  content: '}';
}
.node.active.node-list > span.close-glyph:after{
  content: ']';
}

.node.node-collection.addGap {
  padding-bottom: 0px;// transparent solid;
  margin-bottom: 0px;// transparent solid;
  margin-top: 0px;// transparent solid;
}

/*
 * Autogrow Tests
 */

textarea.autogrow-field.content-field {
  @include imp;
  overflow: hidden;
  height: 150px;
  padding-top: 50px;
  border-top: 15px red solid;
  border-bottom: 15px red solid;
  padding-bottom: 50px;
}
