@import "base";
@import "humon_node_base";

span.blocky {
  display: inline-block;
  width: 100%;
  border: none;
}

.node {
  cursor: text;
  color: $copygray;
  position: relative;
  padding-left: $nodeWhiteIndent;
  border: 0px transparent solid;
  border-left: $nodeLeftBorder white solid;
  background: white;
}

.node.node-literal { }
.node.node-literal:hover { }
.node.node-collection {
  // see documentation on humonNodeView.suppressGap
  padding-bottom: 5px;
}
.node.node-collection:hover { }
/*
 * Active node styling
 */
.node.active {
}

.node.active > span.blocky {
  // background: $activeColorLight
}
.node.active > .node {
  border-left: $nodeLeftBorder $activeColorLight solid;
}
.node.active > span.blocky > textarea.content-field {
  // color: $activeColorDark;
  text-decoration: underline;
}
.node.active > span.blocky> span.node-detail {
  visibility: visible;
}
span.node-detail {
  font-style: italic;
  visibility: hidden;
  position: relative;
  display: inline-block;
}
span.node-detail.node-icon {
  height: 10px;
  width: 10px;
  font-size: 10px;
  line-height: 10px;
  i.icon {
    height: 10px;
    top: 0%;
    position: absolute;
    left: 0px ;// -12px;
  }
}
/*
 * Active child styling
 */
.node.activeChild > span.blocky > textarea.content-field.label-field {
  color: lighten($grayDark, 5%);
  text-decoration: underline;
}



/*
 * Content Fields
 */
.node {
  textarea.content-field {
    color: $copygray;
    height: $lineheight;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    resize: none;
    background: none;
    overflow: hidden;
    vertical-align: top;
  }
  textarea.content-field:focus {
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: none;
  }

  textarea.content-field {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  textarea.content-field.dirty {
    // border-right: 1px solid red;
  }
  textarea.content-field.autogrowing {
    // border-left: 1px solid blue;
  }

  textarea.content-field.val-field {
    @include nimp;
    min-width: 100px;
  }
  textarea.content-field.val-field:focus {
    @include imp;
  }

  span.content-field.val-field {
    display: inline-block;
    min-width: 20px;
  }
  span.content-field.val-field:focus {
  }

  /*
   * Label Field
   */
  textarea.content-field.label-field {
    padding-left: $fieldWhiteIndent;
    min-width: 20px;
  }
  /*
   * index field
  */
  textarea.content-field.idx-field {
    width: 20px;
    color: $grayLight;
  }
  textarea.content-field.idx-field:focus { }
  /*
   * Key Field
   */
  textarea.content-field.key-field {
    min-width: 25px;
    width: 100px;
    text-align: left;
    padding-right: $fieldWhiteIndent;
  }
  div.content-field.key-field {
    display: inline-block;
    min-width: $keyFieldMinWidth;
    max-width: $keyFieldMaxWidth;
    height: $lineheight;
  }
  textarea.content-field.key-field:focus {
  }
}

/*********************
 * Glyphs
 ********************/
span.colon-glyph {
  position: relative;
  vertical-align: top;
  left: 0px;
}
/*
 * open glyph
 */
span.open-glyph:before {
  font-size: $glyphsize;
  color: $glyphcolor;
  position: absolute;
}
.node.active.node-hash > span.blocky > span.open-glyph:before{
  content: '{';
}
.node.active.node-list > span.blocky > span.open-glyph:before{
  content: '[';
}
/*
 * close glyph
 */
span.close-glyph {
  z-index: 1001;
}

span.close-glyph:after {
  font-size: $glyphsize;
  color: $glyphcolor;
  position: absolute;
  padding-left: 15px;
  bottom: -6px;
  z-index: 1001;
}
.node.active > span.close-glyph:after {
  border-left: $nodeLeftBorder $activeColorLight solid;
}
.node.active.node-hash > span.close-glyph:after{
  content: '}';
}
.node.active.node-list > span.close-glyph:after{
  content: ']';
}

// see hnv.suppressGap
.node.node-collection.suppress-gap {
  padding-bottom: 0px;// transparent solid;
  margin-bottom: 0px;// transparent solid;
  margin-top: 0px;// transparent solid;
}

/*
 * Autogrow Tests
 */
textarea.autogrow-field.content-field {
  @include imp;
  overflow: hidden;
  height: 150px;
  padding-top: 50px;
  border-top: 15px red solid;
  border-bottom: 15px red solid;
  padding-bottom: 50px;
}

// @import "humon_node_content_editable_field.css.scss";
