// $rtdpWidth: 700px;

.rtdp {
  position: relative;
  // width: $dataPointWidth;
  border: 1px solid $grayLightest1;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
  min-height: 60px;

  span.options {
    position: relative;
    display: none;
    float: right;
    right: 5px;
    top: 5px;
  }
  &:hover span.options {
    position: relative;
    display: block;
    z-index: 100;
  }
  &.active span.options {
    position: relative;
    display: block;
    z-index: 100;
  }
  .rtdp-productivity {
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px;
    padding: 3px;

    border-radius: 3px;
    border: 1px solid $grayLightest1;
    border-radius: 3px;
  }

  .rtdp-total-duration {
    font-weight: bold;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    padding: 5px;
  }

  .rtdp-activity {
    font-weight: 600;
  }
  .rtdp-time {
    font-weight: bolder;
  }

  .rtdp-time-hint {
    display: none;
  }
  &:hover .rtdp-time-hint {
    display: inline;
  }
  .relative {
    font-weight: lighter;
    margin-left: 5px;
  }
}
