//$spDayWidth: 700px;

.sp-day {
  position: relative;
  // width: $spDayWidth;
  // border: 1px solid $grayLightest1;
  // border-radius: 3px;
  // padding: 3px;
  // margin: 3px;

  span.options {
    position: relative;
    display: none;
    float: right;
    right: 5px;
    top: 5px;
  }
  &:hover span.options {
    position: relative;
    display: block;
    z-index: 100;
  }
  &.active span.options {
    position: relative;
    display: block;
    z-index: 100;
  }
}

.sp-day-header {
  border-bottom: $grayDarkest;

  // text-align: center;
  // width: 450px;
}

.sp-day-title {
  color: black;
  font-weight: 600;
}

.sp-day-yesterday {
  float: left;
}
.sp-day-tomorrow {
  float: right;
}

.sp-days {
  btn.new-sp-day {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  }
}

