<!DOCTYPE html>
<html>
<head>
  <title>Sherwin points</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <!-- mixpanel will be inserted here by the gem -->
</head>

<body class="ass">
  <%= yield %>
</body>

</html>
